*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#4f46e5,#06b6d4);
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{

    width:400px;

    background:rgba(255,255,255,.18);

    backdrop-filter:blur(15px);

    border-radius:20px;

    padding:40px;

    text-align:center;

    box-shadow:0 10px 30px rgba(0,0,0,.25);

}

.login-card h1{

    color:white;

    margin-bottom:8px;

    font-size:30px;

}

.subtitle{

    color:#f3f3f3;

    margin-bottom:25px;

}

input{

    width:100%;

    padding:15px;

    margin:12px 0;

    border:none;

    border-radius:10px;

    font-size:16px;

    outline:none;

}

button{

    width:100%;

    padding:15px;

    margin-top:10px;

    border:none;

    border-radius:10px;

    background:white;

    color:#4f46e5;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#ececff;

    transform:translateY(-2px);

}

.new-user{

    color:white;

    margin-top:25px;

    margin-bottom:10px;

}

.register-btn{

    display:block;

    text-decoration:none;

    background:#10b981;

    color:white;

    padding:14px;

    border-radius:10px;

    font-weight:600;

    transition:.3s;

}

.register-btn:hover{

    background:#059669;

}

#message{

    margin-top:15px;

    color:#ffe082;

    font-weight:bold;

}
